<div class="content">        
    <h1>ADMINISTRACIÓN DE PRODUCTOS</h1>
    <section>
        <div class="form-box">
            <div class="form-value">
                {{!-- <form action="realtimeproducts" method="post" enctype="multipart/form-data" id="newProductForm"> --}}
                <form id="newProductForm">
                    <h2>Nuevo Producto</h2>
                    <div class="inputbox"> 
                        <ion-icon name="create-outline"></ion-icon> 
                        <input type="text" required name="title">                        
                        <label>Título</label>
                    </div>
                    <div class="inputbox"> 
                        <ion-icon name="newspaper-outline"></ion-icon>
                        <input type="text" required name="description">
                        <label>Descripción</label>
                    </div>
                    <div class="inputbox"> 
                        <ion-icon name="cash-outline"></ion-icon> 
                        <input type="number" required name="price">
                        <label>Precio</label>
                    </div>
                    <div class="inputbox"> 
                        <ion-icon name="layers-outline"></ion-icon>
                        <input type="number" required name="stock">
                        <label>Stock</label>
                    </div>
                    <div class="inputbox"> 
                        <ion-icon name="list-outline"></ion-icon>
                        <input type="text" required name="category">
                        <label>Categoría</label>
                    </div>
                    <div class="inputbox"> 
                        <ion-icon name="key-outline"></ion-icon>
                        <input type="text" required name="code">
                        <label>Código</label>
                    </div>
                    <div class="forget">
                        <input type="file" required name="file">                        
                    </div>
                    <div class="forget">
                        <label><input type="checkbox" name="status" checked>Activo</label> 
                    </div>                 
                    <button id="addButton" type="submit">Agregar</button>                    
                </form>
            </div>
        </div>
    </section>
    <div class="cards-products" id="container"> 
        {{#each products}}
            <div class="card-product" id={{this.id}}>
                <div class="card-product__img"> 
                    <img src="{{this.thumbnail}}" alt="{{this.title}}" class="card-product__img_file">
                </div>
                <div>
                    <p class="card-product__title">{{this.title}} </p>
                    <p class="card-product__price">COP$ {{this.price}} </p>
                </div>
                <div class="card-product__btn" id="btnDel{{this.id}}">
                    <button class="deleteBotton"><ion-icon name="trash-outline"></ion-icon></button>
                    {{!-- <button class="deleteBotton">Eliminar</button> --}}
                </div>
            </div>
        {{/each}}
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>